body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:2118px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2270 {
  border-width:0px;
  position:absolute;
  left:1542px;
  top:0px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2271 {
  border-width:0px;
  position:absolute;
  left:771px;
  top:0px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
