body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:3585px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2881 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:0px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2881 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:1280px;
}
#u2882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:1280px;
  display:flex;
}
#u2882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2883 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:1345px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1345px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2885 {
  border-width:0px;
  position:absolute;
  left:1423px;
  top:0px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2886 {
  border-width:0px;
  position:absolute;
  left:2224px;
  top:0px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2887 {
  border-width:0px;
  position:absolute;
  left:3009px;
  top:0px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
