body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:3585px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2359 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:0px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2359 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:1280px;
}
#u2360 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:1280px;
  display:flex;
}
#u2360 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2361 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:1345px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2361 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2362 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1345px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2362 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2363 {
  border-width:0px;
  position:absolute;
  left:1423px;
  top:0px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2363 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2364 {
  border-width:0px;
  position:absolute;
  left:2224px;
  top:0px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2364 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2365 {
  border-width:0px;
  position:absolute;
  left:3009px;
  top:0px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2365 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
