body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:3585px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2286 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:0px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2286 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:1280px;
}
#u2287 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:1280px;
  display:flex;
}
#u2287 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2288 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:1345px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1345px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2290 {
  border-width:0px;
  position:absolute;
  left:1423px;
  top:0px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2290 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2291 {
  border-width:0px;
  position:absolute;
  left:2224px;
  top:0px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2292 {
  border-width:0px;
  position:absolute;
  left:3009px;
  top:0px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
