body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:2001px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:1280px;
}
#u2139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:1280px;
  display:flex;
}
#u2139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:1281px;
}
#u2140 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:0px;
  width:591px;
  height:1281px;
  display:flex;
}
#u2140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:1280px;
}
#u2141 {
  border-width:0px;
  position:absolute;
  left:1410px;
  top:0px;
  width:591px;
  height:1280px;
  display:flex;
}
#u2141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
