body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:2001px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:1280px;
}
#u3229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:1280px;
  display:flex;
}
#u3229 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:1281px;
}
#u3230 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:0px;
  width:591px;
  height:1281px;
  display:flex;
}
#u3230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:1280px;
}
#u3231 {
  border-width:0px;
  position:absolute;
  left:1410px;
  top:0px;
  width:591px;
  height:1280px;
  display:flex;
}
#u3231 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
