body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1104px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1914 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  display:flex;
}
#u1914 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:264px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.5294117647058824);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1915 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:326px;
  width:279px;
  height:264px;
  display:flex;
}
#u1915 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  display:flex;
}
#u1916 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19px;
  width:375px;
  height:44px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1917 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1917_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:center;
}
#u1918 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:19px;
  width:44px;
  height:44px;
  display:flex;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
  text-align:center;
}
#u1918 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1918_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1919 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:338px;
  width:57px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1919 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u1920 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:378px;
  width:250px;
  height:1px;
  display:flex;
}
#u1920 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1920_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1921 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:338px;
  width:175px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1921 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1921_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1922 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:402px;
  width:57px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1922 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u1923 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:442px;
  width:250px;
  height:1px;
  display:flex;
}
#u1923 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1923_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1924 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:402px;
  width:175px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1924 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1925 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:485px;
  width:250px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1925 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1926 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:535px;
  width:132px;
  height:16px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1926 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1926_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1927 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:535px;
  width:79px;
  height:40px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1927 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u1928 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:166px;
  width:116px;
  height:23px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u1928 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1929 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:0px;
  width:375px;
  height:667px;
  display:flex;
}
#u1929 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1930 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:0px;
  width:375px;
  height:20px;
  display:flex;
}
#u1930 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1930_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
}
#u1931 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:224px;
  width:200px;
  height:120px;
  display:flex;
}
#u1931 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1932 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:387px;
  width:200px;
  height:28px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1932 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1932_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
