body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:2016px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2330 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2330 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2331 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:0px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2331 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2332 {
  border-width:0px;
  position:absolute;
  left:1440px;
  top:0px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2332 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
