body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1307px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1280px;
}
#u2107 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1280px;
  display:flex;
}
#u2107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:833px;
}
#u2108 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:0px;
  width:375px;
  height:833px;
  display:flex;
}
#u2108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:833px;
}
#u2109 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:0px;
  width:375px;
  height:833px;
  display:flex;
}
#u2109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
