body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1307px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1280px;
}
#u2856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1280px;
  display:flex;
}
#u2856 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:833px;
}
#u2857 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:0px;
  width:375px;
  height:833px;
  display:flex;
}
#u2857 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:833px;
}
#u2858 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:0px;
  width:375px;
  height:833px;
  display:flex;
}
#u2858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
