body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1950px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2333 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2333 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2334 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:0px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2334 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2334_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2335 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:1335px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2335 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2335_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2336 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1335px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2336 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2336_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2337 {
  border-width:0px;
  position:absolute;
  left:1374px;
  top:1335px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2337 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
