body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1950px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2351 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2352 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:0px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2352 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2353 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:1335px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2353 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1335px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2354 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:1280px;
}
#u2355 {
  border-width:0px;
  position:absolute;
  left:1374px;
  top:1335px;
  width:576px;
  height:1280px;
  display:flex;
}
#u2355 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
